let mapleader = " "

set NERDTree
set clipboard+=ideaput
set clipboard+=unnamed
set clipboard+=unnamedplus
set ic
set ideajoin
set incsearch
set nu
set number
set number relativenumber
set scrolloff = 5
set showmode
set timeout
set timeoutlen = 100
set ttimeoutlen = 100

sethandler <C-A> a:vim
sethandler <C-B> a:ide
sethandler <C-C> a:vim
sethandler <C-D> a:vim
sethandler <C-E> a:vim
sethandler <C-F> a:ide
sethandler <C-H> a:vim
sethandler <C-I> a:ide
sethandler <C-J> a:vim
sethandler <C-K> a:vim
sethandler <C-L> a:vim
sethandler <C-M> a:vim
sethandler <C-N> a:vim
sethandler <C-O> a:ide
sethandler <C-O> a:vim
sethandler <C-P> a:vim
sethandler <C-Q> a:vim
sethandler <C-R> a:vim
sethandler <C-S> a:ide
sethandler <C-T> a:vim
sethandler <C-U> a:vim
sethandler <C-V> a:ide
sethandler <C-W> a:ide
sethandler <C-X> a:vim
sethandler <C-Y> a:vim
sethandler <C-[> a:vim
sethandler <C-\> a:vim
sethandler <S-Tab> a:vim

inoremap <nowait> jj <ESC>
inoremap <nowait> jk <ESC>

nnoremap <C-d> <C-d>zz<CR>
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l
nnoremap <C-n> :NERDTreeToggle<CR>
nnoremap <C-t> :action ActivateTerminalToolWindow<CR>
nnoremap <C-u> <C-u>zz<CR>
nnoremap <S-TAB> :action PreviousTab<CR>
nnoremap <TAB> :action NextTab<CR>
nnoremap <leader>bp :action ToggleLineBreakpoint<CR>
nnoremap <leader>ca :action ShowIntentionActions<CR>
nnoremap <leader>cp :action CloseProject<CR>
nnoremap <leader>e :NERDTreeFocus<CR>
nnoremap <leader>fa :action GotoAction<CR>
nnoremap <leader>fc :action GotoClass<CR>
nnoremap <leader>ff :action GotoFile<CR>
nnoremap <leader>fm :action ReformatCode<CR>
nnoremap <leader>fs :action GotoSymbol<CR>
nnoremap <leader>fu :action FindUsages<CR>
nnoremap <leader>fw :action FindInPath<CR>
nnoremap <leader>h :action SplitHorizontally<CR>
nnoremap <leader>np :action NewProject<CR>
nnoremap <leader>op :action OpenFile<CR>
nnoremap <leader>ra :action RenameElement<CR>
nnoremap <leader>rb :action MakeGradleProject<CR>
nnoremap <leader>rd :action Resume<CR>
nnoremap <leader>rc :action Compile<CR>
nnoremap <leader>rn :action Run<CR>
nnoremap <leader>ro :action IdeaVim.ReloadVimRc.reload <CR>
nnoremap <leader>rs :action Android.SyncProject<CR>
nnoremap <leader>rt :action RunClass<CR>
nnoremap <leader>sd :action Debug<CR>
nnoremap <leader>si :action StepInto<CR>
nnoremap <leader>so :action StepOver<CR>
nnoremap <leader>su :action StepOut<CR>
nnoremap <leader>t :action Terminal.OpenInTerminal<CR>
nnoremap <leader>v :action SplitVertically<CR>
nnoremap <leader>xa :action CloseAllEditorsButActive<CR>
nnoremap <leader>xl :action CloseAllEditors<CR>
nnoremap <leader>xx :action CloseEditor<CR>
nnoremap <leader>zc :action CollapseAllRegions<CR>
nnoremap <leader>zo :action ExpandAllRegions<CR>
nnoremap [b :action Back<CR>
nnoremap [e :action GotoPreviousError<CR>
nnoremap [t :action PreviousTab<CR>
nnoremap ]b :action Forward<CR>
nnoremap ]e :action GotoNextError<CR>
nnoremap ]t :action NextTab<CR>
nnoremap ch :action CallHierarchy<CR>
nnoremap gD :action GotoTypeDeclaration<CR>
nnoremap gc :action Generate<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gs :action GotoSuperMethod<CR>
nnoremap gt :action GotoTest<CR>

xnoremap <leader>rcl :action ExtractClass<CR>
xnoremap <leader>ref :action ExtractFunction<CR>
xnoremap <leader>rif :action IntroduceConstant<CR>
xnoremap <leader>riv :action IntroduceVariable<CR>
xnoremap p "_dP