""" Idea specific settings ------------------
sethandler <S-Tab> a:vim
sethandler <C-A> a:vim
sethandler <C-B> a:ide
sethandler <C-C> a:ide
sethandler <C-D> a:vim
sethandler <C-E> a:vim
sethandler <C-F> a:ide
sethandler <C-H> a:vim
sethandler <C-I> a:ide
sethandler <C-J> a:vim
sethandler <C-K> a:vim
sethandler <C-L> a:vim
sethandler <C-M> a:vim
sethandler <C-N> a:vim
sethandler <C-O> a:ide
sethandler <C-P> a:vim
sethandler <C-Q> a:vim
sethandler <C-R> a:vim
sethandler <C-S> a:ide
sethandler <C-T> a:vim
sethandler <C-U> a:vim
sethandler <C-V> a:ide
sethandler <C-W> a:ide
sethandler <C-X> a:vim
sethandler <C-Y> a:vim
sethandler <C-[> a:vim
sethandler <C-\> a:vim
sethandler <C-O> a:vim
set ideajoin
set clipboard+=unnamed
set clipboard+=ideaput
set NERDTree

"Number"
set number
set number relativenumber

""" Common settings -------------------------
let mapleader = " "
set scrolloff = 5
set showmode
set incsearch
set nu
set ic
set timeout
set timeoutlen = 0
set ttimeoutlen = 0

"-- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
nnoremap <leader>fm :action ReformatCode<CR>
nnoremap <leader>rn :action Run<CR>
nnoremap <leader>ra :action RenameElement<CR>
nnoremap <leader>rc :action MakeGradleProject<CR>
nnoremap <leader>rs :action Android.SyncProject<CR>
nnoremap <leader>sd :action Debug<CR>
nnoremap <leader>ca :action ShowIntentionActions<CR>
nnoremap <TAB> :action NextTab<CR>
nnoremap ]t :action NextTab<CR>
nnoremap <S-TAB> :action PreviousTab<CR>
nnoremap [t :action PreviousTab<CR>
nnoremap <leader>v :action SplitVertically<CR>
nnoremap <leader>h :action SplitHorizontally<CR>
nnoremap <C-t> :action ActivateTerminalToolWindow<CR>
nnoremap <leader>t :action Terminal.OpenInTerminal<CR>
nnoremap <leader>xx :action CloseEditor<CR>
nnoremap <leader>xl :action CloseAllEditors<CR>
nnoremap <leader>xa :action CloseAllEditorsButActive<CR>
nnoremap <leader>ff :action GotoFile<CR>
nnoremap <leader>fs :action GotoSymbol<CR>
nnoremap <leader>fc :action GotoClass<CR>
nnoremap <leader>fa :action GotoAction<CR>
nnoremap <leader>zc :action CollapseAllRegions<CR>
nnoremap <leader>zo :action ExpandAllRegions<CR>
nnoremap <leader>gc :action Generate<CR>
nnoremap <leader>fu :action FindUsages<CR>
nnoremap <leader>fch :action CallHierarchy.BaseOnThisMethod<CR>
nnoremap ]e :action GotoNextError<CR>
nnoremap [e :action GotoPreviousError<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gs :action GotoSuperMethod<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gD :action GotoTypeDeclaration<CR>
nnoremap gp :action Back<CR>
nnoremap gn :action Forward<CR>
nnoremap gt :action GotoTest<CR>
nnoremap <leader>bp :action ToggleLineBreakpoint<CR>
nnoremap <leader>sd :action Debug<CR>
nnoremap <leader>so :action StepOver<CR>
nnoremap <leader>si :action StepInto<CR>
nnoremap <leader>su :action StepOut<CR>
nnoremap <C-d> <C-d>zz<CR>
nnoremap <C-u> <C-u>zz<CR>
nnoremap <C-h> <C-w>h
nnoremap <C-l> <C-w>l
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-n> :NERDTreeToggle<CR>
nnoremap <leader>e :NERDTreeFocus<CR>

inoremap jk <ESC>
inoremap jj <ESC>
inoremap <C-h> <Left>
inoremap <C-l> <Right>
inoremap <C-j> <Down>
inoremap <C-k> <Up>

vnoremap <leader>ef :action ExtractFunction<CR>
vnoremap <leader>ev :action IntroduceVariable<CR>
vnoremap <leader>ec :action IntroduceConstant<CR>
