[include]
	path = ./themes/catppuccin.gitconfig

[core]
  pager = delta

[delta]
	features = catppuccin-mocha
  navigate = true  # use n and N to move between diff sections
  dark = true      # or light = true, or omit for auto-detection
  side-by-side = true

[interactive]
  diffFilter = delta --color-only

[merge]
  conflictStyle = zdiff3
